@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul class="list-unstyled">
        @foreach (var person in Model.People)
        {
            <li>@person.FirstName   @person.LastName </li>
        }

    </ul>
  
</div>
